
    <%- include("header") -%>
    <div class="box1" id="heading">       
        <h1>Today</h1>
    </div>        
    <div class="box">  
        <% for(var i=0;i<newListItem.length;i++) { %>
            <form action="/delete" method="post">
                 <div class="item">
                    <div class="round">
                        <input type="checkbox" name="checkbox" value="<%= newListItem[i]._id%>"  onChange="this.form.submit()" id="checkbox">                       
                    <label for="checkbox"></label>
                    </div>
                    <p><%= newListItem[i].name %></p>
                    <br>
                </div>         
            </form> 
            <% } %>
       
        </form>        
    <form class="item" action="/" method="post" >
            <input type="text"  placeholder=" YOUR Name" name="n" required><hr>
            <button id="b" type="submit" <span id="s2"></span>+</span></button> 
    </form>
    </div>
